<div id="block-reseaux">
<img class="icone" src="{{link-icone1}}" alt="">
<img class="icone" src="{{link-icone2}}" alt="">
<img class="icone" src="{{link-icone3}}" alt="">
<img class="icone" src="{{link-icone4}}" alt="">
<img class="icone" src="{{link-icone5}}" alt="">
</div>
