  <div class="info-dossiers">
  <div class="rect-form-dossiers">
  </div>
<div class="donnees-dossiers">
  <h2 class="hd-titre-2">{{titre-h2}}</h2>
  <p class="date">{{paragraphe-date}}</p>
</div>
</div>
