<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: blue"></span>
    <span class="sg-label">
      $mc--med <br />
      blue
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #5FE5FF"></span>
    <span class="sg-label">
      $mc--med-1 <br />
      Bleu clair
    </span>
      </li>
      <li>
    <span class="sg-swatch" style="background: #00D7FF"></span>
    <span class="sg-label">
      $mc--med-2 <br />
      Bleu
    </span>
  </li>
  <li>
<span class="sg-swatch" style="background: #C38AEF"></span>
<span class="sg-label">
  $mc--med-3 <br />
  Violet clair
</span>
</li>
<li>
<span class="sg-swatch" style="background: #9D00FF"></span>
<span class="sg-label">
$mc--med-4 <br />
Violet
</span>
</li>
</ul>
