<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #FFFFFF"></span>
    <span class="sg-label">
      $nc--00 <br />
      #FFFFFF
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #000000"></span>
    <span class="sg-label">
      $nc--100 <br />
      #000000
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #413B2A"></span>
    <span class="sg-label">
      $nc--50 <br />
      #413B2A
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #424242"></span>
    <span class="sg-label">
      $nc--20 <br />
      #424242
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #A9A9A9"></span>
    <span class="sg-label">
      $nc--30 <br />
      #A9A9A9
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #A9A9A9"></span>
    <span class="sg-label">
      $nc--40 <br />
      #F0F0F0
    </span>
  </li>
</ul>
