<div class="main-profil">

   {{>atoms-button--navigation}}
   {{>atoms-photo}}


  <div class="block--bio">
   {{>molecules-block-bio}}
   {{>molecules-bouton-contact}}
  </div>

  <div class="block--nav">
    {{>molecules-block-reseaux}}
    {{>atoms-button--navigation2}}
  </div>

<div class="block--dossier">
  {{>atoms-h3}}
  {{>molecules-dossiers}}
</div>

</div>
