<div class="main-profil">

  {{>atoms-button--navigation}}
  {{>atoms-photo}}
  {{>molecules-block-bio}}
  {{>molecules-bouton-contact}}

  <div class="block--nav">
    {{>molecules-block-reseaux}}
    {{>atoms-button--navigation}}
  </div>

<div class="block--dossier">
  {{>atoms-h3}}
  {{>molecules-dossiers}}
</div>

</div>
