// VARIABLES

/////// COLORS //////
// Main colors
$mc--med: blue;
$mc--neutre: black;
$mc--med-1: #5FE5FF;
$mc--med-2: #00D7FF;
$mc--med-3: #C38AEF;
$mc--med-4: #9D00FF;


// Neutral colors
$nc--00: #ffffff;
$nc--100: #000000;
$nc--50: #413B2A;
$nc--20: #424242;
$nc--30: #A9A9A9;
$nc--40: #F0F0F0;



/////// SPACING ///////

/////// BORDER-RADIUS ///////

/////// BOX SHADOWS ///////

/////// CONTAINERS ///////

/////// TRANSITIONS ///////
$tr--s: all .3s ease;
