.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
.atoms-liste{
  order: 0;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
}
.atoms-liste2{
  order: 0;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
}
.paragraphe{
  order: 0;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
}
.ecv {
  width: 180px;
  order: 0;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
}
@media screen and (max-width: 320px) {
  .footer {
    width: 320px;
  }
  .ecv{
    width: 160px;
    justify-content: center;
    margin-left: 0 auto;
  }
}
@media screen and (max-width: 540px) {
  .ecv{
    width: 160px;
    margin-right: 100px;
  }
}
@media screen and (max-width: 243px) {
  .footer {
    width: 243px;
  }
  .ecv{
    width: 150px;
    justify-content: center;
    margin-left: 0 auto;
  }
}
@media screen and (max-width: 291px) {
  .footer {
    width: 291px;
  }
  .ecv{
    width: 160px;
    justify-content: center;
    margin-left: 0 auto;
  }
}
