<div class=auteur>
<div class="like--share">
  {{>molecules-like-article}}
  <div class="btn--partager">
      {{>atoms-button--primary}}
</div>
  </div>
  {{>organisms-block-auteur--article}}
</div>
