<style>
@import url('https://fonts.googleapis.com/css?family=Caveat');
</style>

<div class="block-auteur-article">
  <div class="block-info-auteur">
    <h1 class="typo-auteur">{{content-auteur-prenom}}</h1>
    <h1 class="typo-auteur">{{content-auteur-nom}}</h1>
    <h4 class="hd-titre-4">{{content-auteur-metier}}</h4>
  </div>
  {{>atoms-photo}}
  <div class="fleche-auteur">
    <img class="fleche-main" src="{{link-fleche}}" alt="">
    <h3 class="typo-manuscrite">{{content-auteur-2}}</h3>
  </div>

</div>
