<div class="footer">
<div class="atoms-liste">
{{>atoms-liste-footer}}
</div>
<div class="atoms-liste2">
{{>atoms-liste2}}
</div>
<div class="paragraphe">
{{>molecules-block-intro2}}
</div>
<div class="ecv">
{{>atoms-ecv}}
</div>
</div>
