.block-plan {
position : relative;
margin-left: 60px;
border-right: solid 2px;
border-color: #D8D8D8;
width: 539px;
/*&::after {
  content: '';
  display: block;
  border: $nc--30 solid 1.8px;
  opacity: 0.3;
  transform: rotate(90deg);
}*/
}


.title {
  position : relative;
  line-height: 60px;
  margin-bottom: 25px;
  &::after {
    content: '';
    display: block;
    height:15px;
    background-color: $mc--med-1;
    border-radius: 15px 0px 0px 15px;
    width : 146px;
    margin-top: -37px;
    margin-left: -25px;
  }
}

.liste-plan {
  list-style-type: none;
    line-height: 60px;

}

.item-article {
  position : relative;
  text-decoration: none;

  &::after {
    content: '';
    display: inline-flex;
    float: left;
    background-color: $mc--med-1;
    border-radius: 15px;
    width : 7px;
    margin-top: 15px;
  margin-left: -20px;

  }
  &:hover {
    color : $mc--med-2;.media-block-image{
  max-width: 600px;
  img {
    width: 100%;
  }
}
p.left {
}
.block-text-article-image-right .content {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  p {
    flex-basis: 300px;
  }
  .media-block-image {
    flex-basis: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 30px;
  }
}
    &:after {
      height:30px;
      transition: all .3s ease;
    }
  }
}

.block-article p {
  margin-top: 15px;
}

.picto-like {
display: inline-flex;
align-self: center;
}

.picto-like img {
padding-left: 15px;
padding-right: 15px;
}

.title-abbreviation {
  position : relative;
}
li {
  list-style-type: none;
}
.article-title-block {
  padding: 10px;
  min-width: 300px;
  &::before {
    content: '';
    display: block;
    height:70px;
    background-color: $mc--med-1;
    border-radius: 15px;
    width : 8px;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
  }
}

li {
  list-style-type: none;
}

.article-title-block {
  display: inline-block;
  padding: 10px;
}

.date-article {
  font-style: normal;
}


.btn--partager {
display: flex;
grid-column: 1;
align-self: flex-start;
justify-content: center;

}

.picto-like {
  margin: 30px;
  align-self: flex-end;
  justify-content: center;
}

.block-auteur-article {
  grid-row: 1/3;
  grid-column: 2;

}
