.block-intro {
  max-width: 21.5em;
  padding: 1em;
  background: rgba(255, 255, 255, 0.7);

}

.block-intro #fleche {
  width: 20px;
}

.block-intro h4 {
  margin-top: 1.25em;
}

.link--fleche {
  display: block;
  margin: 1.25em auto;
  width: 40px;
}

.filtres-classement p {
  color: $nc--30;
  padding-left: 16px;
}

.block-auteur img {

}

.block-auteur {
  display: inline-flex;
}

.block-auteur h2{
  display: inline-grid;
align-self: center;
margin-left: -80px;
}
