<style>
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
</style>


<li>
  <a href="{{link--article}}">
    <div class="title-abbreviation" data="Typography and fonts">
    {{>atoms-miniature-article}}
    </div>
    <div class="article-title-block">
        <span class="article-title-block-main hd-titre-2">{{name-article}}</span><br />
        <span class="name-author hd-titre-6">{{name-author}}</span>
        <span class="date-article hd-titre-6">{{date-article}}</span>
    </div>
  </a>
</li>
